@use 'node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
}

ul {
    list-style: none;
}